<%- include('./partials/header') %>

<h2 id="homepage">My Pocket Monsters</h2>
<h3 id="homepageSelect">Select &nbsp;&nbsp;  Starter  &nbsp;&nbsp; Pokemon:</h3>
<div id="starterSelect">
    <div id="pokeimages">
        <img src="https://i.imgur.com/sPImiuy.png" class="pokeball">
        <img src="https://i.imgur.com/sPImiuy.png" class="pokeball">
        <img src="https://i.imgur.com/sPImiuy.png" class="pokeball">
    </div>
    <% if (user) { %>
    <form id= "starter-pokemon" action="/pokemon" method="POST">
        <div id="pokemonselect">
            <select name="name">
                <option value="charmander">Charmander</option>
                <option value="squirtle">Squirtle</option>
                <option value="bulbasaur">Bulbasaur</option>
            </select>
            <input type="hidden" name="level" value="5">
            <input type="submit" value="Select Starter">
        </div>
    </form>
    <% } else { %>
        <h3 id="already-made">Please log in to pick your starter!</h3>
    <% } %>    
</div>
<h3 id="prompt">Choose Wisely <br> ...</h3>
<%- include('./partials/footer') %>