*{
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(254	194	11);
  background-color: rgb(233,	33,	34, 0.8);
  text-shadow: 2px 2px 0 rgb(39	78	157);
}

a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.nav {
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
}

a:hover{
  color: rgb(254	194	11);
  text-shadow: 5px 5px 0 rgb(39	78	157);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding-bottom: 12px;
}

.login img {
  height: 30px;
}
 
#starterSelect {
  background-color: white;
  border: 20px solid grey;
  border-radius: 12px;
  padding: 25px 0;
}

.pokeball {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  flex-direction: row;
}

#pokeimages{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 130px;
  flex-direction: row;
  margin-top: 25px;
}

#pokemonselect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0 25px 0;
}

#pokemonselect > select {
  font-size: 30px;
  background-color: lightgrey;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 50px;
  letter-spacing: 5px;
}

#pokemonselect > input[type="submit"] {
  font-size: 30px;
  background-color: lightgrey;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 40px;
}

#homepage{
  text-align: center;
  font-size: 45px;
  text-shadow: 5px 5px 0 rgb(39	78	157);
}

#homepageSelect{
  text-align: center;
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 5px;
}

#prompt {
  background-color: white;
  border: 20px solid grey;
  border-radius: 12px;
  padding: 25px 25px;
  line-height: 60px;
  color: black;
  text-shadow: none;
  margin-top: 25px;
}

tr > th{
  color: rgb(39	78	157);
  font-size: 25px;
  text-shadow: 2px 2px rgb(254	194	11);
  text-align: center;
  margin: 125px;
  padding: 50px 50px 25px
}

tbody {
  text-align: center;
  justify-content: center;
}

#already-made {
  text-align: center;
  color: black;
  text-shadow: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 45vw);
  justify-content: center;
}

div {
  display: block;
}


.col {
  margin: 2vmin;
  background-color: rgba(213, 120, 120);
  border: 5px solid lightgrey;
  border-radius: 10px;
  line-height: 25px;
  text-align: center;
}

.card {
  padding: 1vmin;
  grid-column:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card .left{
  float: left;
}

.card .right {
  float: right;
}

#nickname{
  font-size: 25px;
  color: rgb(39	78	157);
  text-shadow: 2px 2px 0 rgb(254	194	11);
}

#pokeName {
  line-height: 60px;
  font-size: 25px;
  color: rgb(39	78	157);
  text-shadow: 2px 2px 0 rgb(254	194	11);
}

.typeID .pokecardLevel .levelID .pokecardType{
  color: #FCB80F;
  text-shadow: 2px 2px 0 rgb(39	78	157);
}

.typeID > span {
  color: #f4cf74;
  text-shadow: 2px 2px 0 rgb(39	78	157);
}

.levelID > span{
  color: #f4cf74;
  text-shadow: 2px 2px 0 rgb(39	78	157);
}

.pokecardLevel > span{
  color: #f4cf74;
  text-shadow: 2px 2px 0 rgb(39	78	157);
}
.pokecardType > span{
  color: #f4cf74;
  text-shadow: 2px 2px 0 rgb(39	78	157);
}

img {
  height: 150px;
  width: auto;
}

.fas {
  margin: 15px;
}

#delete {
  margin-top: 20px;
}

#delete > button {
  color: black;
  text-shadow: 2px 2px 0 #E5353D;
  border: none;
  background-color: rgba(213, 120, 120);
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}

#delete > button:hover{
  color: blue;
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}

#pokecard {
  width: 75vw;
  max-width: 400px;
  text-align: center;
  border:5px solid #FCB80F;
  border-radius: 10px;
  line-height: 40px;
  align-items: center;
}

.pokecardImg {
  background-color: rgba(213, 120, 120);
  width: 70vw;
  max-width: 390px;
  border-radius: 10px;
  justify-items: center;
  
}

.pokecardName {
  text-align: left;
  margin-left: 30px;
}

.pokecardButtons {
  width: 75vw;
  max-width: 400px;
  text-align: center;
  line-height: 40px;
}

form > button {
  color: black;
  text-shadow: 2px 2px 0 rgba(213, 120, 120); 
  border: none;
  background-color: transparent;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  margin-right: 15px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;

}